In [1]:
import pandas as pd
import os

treatment_df = pd.read_csv('/Users/koacow/BOSTON UNIVERSITY Dropbox/Ngoc Duy Khoa Cao/Climate Risk and Labor Market/RAIS data/firms and cities/ESTB/treated/firms_geolocated_treated.csv'
                           , dtype={'cnpj_cei': str})
treatment_df = treatment_df[['cnpj_cei', 'year', 'treated', 'treatment_count', 'total_deaths', 'total_damage']]
treatment_df

/var/folders/zx/x6hb1_p95p33hh3235qrnlqm0000gn/T/ipykernel_66369/3390317297.py:4: DtypeWarning: Columns (6,7,21,43) have mixed types. Specify dtype option on import or set low_memory=False.
  treatment_df = pd.read_csv('/Users/koacow/BOSTON UNIVERSITY Dropbox/Ngoc Duy Khoa Cao/Climate Risk and Labor Market/RAIS data/firms and cities/ESTB/treated/firms_geolocated_treated.csv'

,cnpj_cei,year,treated,treatment_count,total_deaths,total_damage
0,118000110,2003,0,0,2511.0,3030000.0
1,518000125,2003,0,0,2511.0,3030000.0
2,885000129,2003,0,0,2511.0,3030000.0
3,935000178,2003,0,0,2511.0,3030000.0
4,1172000180,2003,0,0,2511.0,3030000.0
...,...,...,...,...,...,...
491335,16099194000407,2017,0,0,504.0,3600000.0
491336,74200403000200,2017,0,0,504.0,3600000.0
491337,60884855001983,2017,0,0,504.0,3600000.0
491338,60884855002289,2017,0,0,504.0,3600000.0
491339,92741990003403,2017,0,0,504.0,3600000.0

In [2]:
outcome_df = pd.read_csv('/Users/koacow/BOSTON UNIVERSITY Dropbox/Ngoc Duy Khoa Cao/Climate Risk and Labor Market/RAIS data/firms and cities/ESTB/estb_variables_july312025.csv',
                            dtype={'cnpjcei': str})
outcome_df = outcome_df.rename(columns={'cnpjcei': 'cnpj_cei'})
outcome_df

,cnpj_cei,year,nu_contr,nu_contr_disab,nu_contr_white,nu_contr_female,nu_contr_highereduc,avg_wage_est,avg_wage_disab,avg_wage_nondis,avg_wage_female,avg_wage_male,avg_wage_white,avg_wage_nonwhite,avg_wage_highereduc,avg_wage_lowereduc
0,00308668000109,2003,22,4,17,5,0,60.753499,61.889633,60.501025,44.494864,65.535451,60.240651,62.497184,NaN,60.753499
1,00619461000147,2003,110,1,108,53,53,98.291494,47.853322,98.754230,101.869031,94.965012,99.081541,55.628936,137.950659,61.415428
2,00697509000135,2003,38,1,36,18,7,73.112232,69.289086,73.215560,57.960207,86.749054,74.809161,42.567509,106.625909,65.544627
3,00730769000165,2003,74,0,6,39,18,41.729208,NaN,41.729208,32.231905,52.311917,40.926401,42.127559,41.664023,41.750160
4,00735882000133,2003,83,0,59,17,9,41.377301,NaN,41.377301,38.819385,42.036158,41.707835,40.564739,45.779109,40.841946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978170,12147176000150,2017,2,0,1,0,2,1169.467250,NaN,1169.467250,NaN,1169.467250,773.062500,1565.872000,1169.467250,NaN
978171,60202660000187,2017,1,0,1,0,0,128.227273,NaN,128.227273,NaN,128.227273,128.227273,NaN,NaN,128.227273
978172,04283674000100,2017,1,0,1,1,0,102.888577,NaN,102.888577,102.888577,NaN,102.888577,NaN,NaN,102.888577
978173,05808792002001,2017,1,0,1,1,1,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,0.000000,NaN
978174,00626951000170,2017,1,1,0,1,0,147.555660,147.555660,NaN,147.555660,NaN,NaN,147.555660,NaN,147.555660

In [3]:
treatment_outcome_df = treatment_df.merge(outcome_df, on=['cnpj_cei', 'year'], how='right', validate='1:1')
treatment_outcome_df

,cnpj_cei,year,treated,treatment_count,total_deaths,total_damage,nu_contr,nu_contr_disab,nu_contr_white,nu_contr_female,nu_contr_highereduc,avg_wage_est,avg_wage_disab,avg_wage_nondis,avg_wage_female,avg_wage_male,avg_wage_white,avg_wage_nonwhite,avg_wage_highereduc,avg_wage_lowereduc
0,00308668000109,2003,NaN,NaN,NaN,NaN,22,4,17,5,0,60.753499,61.889633,60.501025,44.494864,65.535451,60.240651,62.497184,NaN,60.753499
1,00619461000147,2003,NaN,NaN,NaN,NaN,110,1,108,53,53,98.291494,47.853322,98.754230,101.869031,94.965012,99.081541,55.628936,137.950659,61.415428
2,00697509000135,2003,NaN,NaN,NaN,NaN,38,1,36,18,7,73.112232,69.289086,73.215560,57.960207,86.749054,74.809161,42.567509,106.625909,65.544627
3,00730769000165,2003,NaN,NaN,NaN,NaN,74,0,6,39,18,41.729208,NaN,41.729208,32.231905,52.311917,40.926401,42.127559,41.664023,41.750160
4,00735882000133,2003,NaN,NaN,NaN,NaN,83,0,59,17,9,41.377301,NaN,41.377301,38.819385,42.036158,41.707835,40.564739,45.779109,40.841946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978170,12147176000150,2017,NaN,NaN,NaN,NaN,2,0,1,0,2,1169.467250,NaN,1169.467250,NaN,1169.467250,773.062500,1565.872000,1169.467250,NaN
978171,60202660000187,2017,NaN,NaN,NaN,NaN,1,0,1,0,0,128.227273,NaN,128.227273,NaN,128.227273,128.227273,NaN,NaN,128.227273
978172,04283674000100,2017,NaN,NaN,NaN,NaN,1,0,1,1,0,102.888577,NaN,102.888577,102.888577,NaN,102.888577,NaN,NaN,102.888577
978173,05808792002001,2017,NaN,NaN,NaN,NaN,1,0,1,1,1,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,0.000000,NaN
978174,00626951000170,2017,NaN,NaN,NaN,NaN,1,1,0,1,0,147.555660,147.555660,NaN,147.555660,NaN,NaN,147.555660,NaN,147.555660

In [4]:
treatment_outcome_df['treated'] = treatment_outcome_df['treated'].fillna(0)

In [5]:
treatment_outcome_df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,978175.0,2.010266e+03,4.205207e+00,2003.0,2007.000000,2.010000e+03,2.014000e+03,2.017000e+03
treated,978175.0,1.396069e-02,1.173278e-01,0.0,0.000000,0.000000e+00,0.000000e+00,1.000000e+00
treatment_count,286506.0,8.502440e-02,4.953310e-01,0.0,0.000000,0.000000e+00,0.000000e+00,8.000000e+00
total_deaths,286506.0,6.946209e+02,9.395828e+02,3.0,52.000000,3.070000e+02,8.070000e+02,3.050000e+03
total_damage,286506.0,2.082249e+06,2.577011e+06,0.0,171000.000000,1.271500e+06,3.030000e+06,9.660000e+06
nu_contr,978175.0,2.124086e+02,4.623176e+02,1.0,60.000000,1.090000e+02,2.010000e+02,2.889600e+04
nu_contr_disab,978175.0,3.259388e+00,2.837748e+01,0.0,0.000000,0.000000e+00,2.000000e+00,1.321400e+04
nu_contr_white,978175.0,1.171173e+02,2.792156e+02,0.0,16.000000,5.700000e+01,1.170000e+02,2.421600e+04
nu_contr_female,978175.0,7.414755e+01,2.270044e+02,0.0,7.000000,2.800000e+01,7.000000e+01,1.502800e+04
nu_contr_highereduc,978175.0,3.959771e+01,1.661986e+02,0.0,2.000000,8.000000e+00,3.100000e+01,2.804900e+04
avg_wage_est,978175.0,2.054502e+02,3.496850e+02,0.0,85.555014,1.361991e+02,2.248635e+02,1.085997e+05
avg_wage_disab,377475.0,1.775105e+02,3.541447e+02,0.0,78.801413,1.194028e+02,1.905906e+02,5.742927e+04
avg_wage_nondis,977052.0,2.062764e+02,3.527980e+02,0.0,85.611651,1.363918e+02,2.254335e+02,1.085997e+05
avg_wage_female,927328.0,1.883212e+02,3.110532e+02,0.0,79.447237,1.265660e+02,2.100137e+02,9.433875e+04
avg_wage_male,964786.0,2.227192e+02,3.945044e+02,0.0,89.472257,1.436880e+02,2.392945e+02,1.187013e+05
avg_wage_white,920031.0,2.289926e+02,3.871568e+02,0.0,91.208140,1.481972e+02,2.534975e+02,1.085997e+05
avg_wage_nonwhite,873960.0,1.795492e+02,2.753191e+02,0.0,80.255639,1.255883e+02,1.989432e+02,2.914065e+04
avg_wage_highereduc,843092.0,3.418212e+02,4.565232e+02,0.0,149.754052,2.534989e+02,4.173079e+02,1.085997e+05
avg_wage_lowereduc,966544.0,1.480539e+02,1.516786e+02,0.0,78.470115,1.185878e+02,1.769274e+02,2.558663e+04

In [6]:
treatment_outcome_df['treated'].value_counts(dropna=False, normalize=True)

treated
0.0    0.986039
1.0    0.013961
Name: proportion, dtype: float64

In [7]:
treatment_outcome_df.to_csv('/Users/koacow/BOSTON UNIVERSITY Dropbox/Ngoc Duy Khoa Cao/Climate Risk and Labor Market/RAIS data/firms and cities/ESTB/treated/brazil_firms_panel_2003_2017.csv', index=False)